.wrapper {
    width:100%;
    height:100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 10px;
}

.announcementWrapper{
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    padding: 20px;
    margin: 15px 0px;
    background-color: #E0E0E0;
    border-radius: 10px;


}
.frontmatter{
    border: 1px dotted black;
    border-right: 0px;
    border-left: 0px;
    padding: 5px;
    margin: 0 50px;
    text-align: center;
}

/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
    .announcementWrapper{
        width: 1024px;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {

}
