
.wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    transition: 0.5s;
    background-color: rgba(255,255,255,0.7);
}
.logoWrapper{
    display: inline-block;
    height: 100%;
    float: left;
}
.logo{
    width: auto;
    height: 100%;
}
.menuWrapper{
    display: inline-block;
    float: right;
    height: 100%;
    vertical-align: middle;
}
.menuWrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

}
.menuWrapper ul li {
    line-height: 60px;
    margin: 0 15px;
    padding: 0;
    border: 0;

    float: left
}
.menuLinkOn {
    text-decoration: none;
    font-size: 1.1rem;
    color: rgba(0,0,0,1);
}
.menuLinkOff{
    text-decoration: none;
    font-size: 1.1rem;
    color: rgba(0,0,0,0.4);
}
.menuLinkOff:hover{
    color: rgba(0,0,0,1);
}
